/*
 * Layout
 */

header {
    background: $dark-blue;
    margin-top: 42px;
    position: relative;
}
#kopf {

}
#logo {
    background: #fff;
    padding: 10px;
    overflow: auto;
    img {
        max-height: 100px;
        width: auto;
    }
    p {
        font-size: 28px;
        margin: 0;
        a {
            color: $text;
            text-decoration: none;
            &:hover, &:focus, &:active {
                text-decoration: underline;
            }
        }
    }
    .description {
        color: $text;
        display: block;
        font-size: 16px;
        margin: 0;
    }
    & > a {
        margin-right: 75px;
    }
    & > p {
        margin-right: 75px;
    }
}
.js-enabled #logo{
    padding-right: 60px;
}

#titel {
    clear: both;
    background: rgba(0, 0, 0, 0) radial-gradient(ellipse at center center , $medium-blue 0%, $dark-blue 100%) repeat scroll 0 0;
    min-height: 100px;
    padding: 10px 10px 52px;
    h1 {
        font-size: 28px;
        color: #fff;
        margin: 0;
        position: relative;
        z-index: 10;
        line-height: 30px;
    }
}

#suche {
    position: absolute;
    top: -42px;
    left: 0;
    height: 42px;
    background: $bg-grey;
    width: 100%;
    form {
        padding: 5px 10px;
        border: none;
    }
    input {
        font-size: 11px;
    }
    input[type="text"] {
        display: inline-block;
        float: left;
        //width: 160px;
        width: 99%;
        height: 30px;
        border-radius: 20px;
        padding-right: 20px;
        margin-right: -60px;
        background: $dark-blue;
        color: $light-blue;
        border: none;
    }
    input[type="text"]:focus {
        background: $hover;
    }
    input[type="submit"] {
        display: inline-block;
        height: 30px;
        line-height: 1em;
        padding: 0 8px;
        background: #fff;
        color: $dark-blue;
    }
    h2, p label {
        @include off-left;
    }
    p {
        margin: 0;
    }
}

#breadcrumb {
    position: absolute;
    bottom: 0;
    display: table-cell;
    height: 52px;
    padding: 5px 10px 10px;
    vertical-align: bottom;
    overflow: hidden;
    h2 {
        display: none;
        vertical-align: bottom;
        height: 37px;
        font-size: 13px;
        line-height: 18px;
        color: #fff;
        font-weight: normal;
        padding: 0;
        padding-right: 5px;
    }
    p {
        display: table-cell;
        vertical-align: bottom;
        height: 37px;
        font-size: 13px;
        line-height: 18px;
        color: #fff;
        margin-bottom: 0;
    }
    a {
        color: #fff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    img:first-of-type {
        display: none;
    }
}

#start #breadcrumb {
    display: none;
}

#sprungmarken {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 183px;
	padding: 5px 0 5px 5px;
	z-index: 1;
}
#sprungmarken {
	h2, a:link, a:visited {
		@include off-left;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	a:hover, a:active, a:focus {
		white-space: nowrap;
		position: absolute;
		top: 0px;
		left: 10px;
		text-decoration: underline;
		padding:2px 6px 3px 6px;
		display: block;
		width: auto;
		height:auto;
		font-size: 13px;
		overflow:auto;
		z-index: 3;
		background-color: $page;
		color: $dark-blue;
	}
}

#nav-toggle {
    display: none;
    position: absolute;
    float: right;
    top: 10px;
    right: 15px;
    width: 25px;
    background: #fff;
}
#nav-toggle:hover {
	cursor: pointer;
}
.js #nav-toggle {
    display: block;
}

.js .hide-desktop {
    // display: block;
}
#nav-toggle div {
    background: $dark-blue;
    height: 3px;
    margin-bottom: 3px;
}

#hauptmenu {
    position: relative;
    //bottom: -40px;
    //height: 40px;
    left: 0;
    background: $bg-grey;
    width: 100%;
    padding: 0 10px;
    font-size: 13px;
	z-index: 1;
	overflow: auto;
    ul {
        margin: 0;
    }
    li {
        float: left;
        list-style-type: none;
        padding: 0;
        margin-right: 8px;
		margin-bottom: 0;
		height: 38px;
		overflow: hidden;
        a {
			color: $dark-blue;
            display: block;
            padding: 10px 0;
            text-decoration: none;
            &:hover, &:focus, &:active {
                text-decoration: underline;
                color: $hover;
            }
        }
    }
}

.js #hauptmenu {
	display: none;
}

#kurzinfo {
    margin: 20px 0;
}

hr#nachkopf, hr#vorfooter {
    display:none;
}

#main {
    position: relative;
    padding: 0 10px 20px;
	clear: both;
}

.js #menu {
	display: none;
}

#bereichsmenu {
    border-bottom: 1px solid $border;
    font-size: 17px;
    .infotext {
        display:none;
        position: reative;
        background: $dark-blue;
        color: $light-blue;
        padding: 0 15px 5px;
        font-size: 12px;
        font-weight: normal;
    }
    .aktiv + .skip + .infotext {
        background: $hover;
        color: #fff;
    }
    .aktiv + .skip + .infotext, a:hover + .infotext, a:focus + .infotext {
        display: block;
    }
    ul {
        margin-left: 0;
    }
    h2 {
        @include off-left;
    }
    li {
        display: block;
        border-top: 1px solid $border;
        margin-bottom: 0;
        a, span.aktiv {
            display: block;
            padding: 10px 15px;
            font-weight: bold;
            text-decoration: none;
            &:hover, &:focus, &:active {
                background: $dark-blue;
                color: #fff;
            }
        }
    }

    #navigation > li {
        border-top-color: transparent;
    }

    #hauptnavigation {
        ul {
            display: none;
            font-size: 15px;
            font-weight: bold;
        }
        li.on {
            background: $dark-blue;
            color: #fff;
            a {
                color: #fff;

            }
            a.aktiv {
                background: $hover;
                color: #fff;
            }
            span.aktiv {
                background: $hover;
            }
            ul {
                display: block;

                li {
                    border-top: 1px solid $hover;
                }
                li a {

                }
            }
        }
        li ul {
            span.aktiv, a, .infotext {
                padding-left: 35px;
            }
            li ul {
                span.aktiv, a, .infotext {
                    padding-left: 55px;
                }
                a {
                    font-weight: normal;
                }
            }
        }
    }
}

#sidebar-toggle {
    position: absolute;
    float: right;
    top: 8px;
    right: 55px;
    width: 26px;
    height: 23px;
    background: url('../img/info.gif') no-repeat 50% 50% #fff;
}

#sidebar-toggle:hover {
	cursor: pointer;
}

#sidebar, #footerinfos, #inhaltsinfo {
    font-size: 13px;
    padding: 10px;
    h1 {
        margin: 0;
        padding: 14px 0 12px;
        font-size: 24px;
        line-height: 28px;
    }
    h2 {
        font-size: 20px;
        line-height: 24px;
        padding: 12px 0 8px;
    }
    h3 {
        font-size: 18px;
        line-height: 20px;
        padding: 10px 0 6px;
    }
    h4 {
        padding: 8px 0 0;
    }
    h5 {
        margin: 0;
        padding-top: 8px;
    }
    h6 {
        margin: 0;
        padding-top: 8px;}
    p {
        font-size: 13px;
        margin-bottom: .3px;
    }
    & > :first-child {
        padding-top: 0;
        margin-top: 0;
    }
}

#sidebar {
    background: $bg-grey;
	margin-top: 10px;
}

.js #sidebar {
	display: none;
}
#inhaltsinfo {
	display:none;
    margin: 0 0 10px ;
    background: $bg-grey;
    padding: 10px;
}

#content {
	margin-top: 10px;
    overflow:auto;
}
#inhaltsinfo+p {
	margin-top: 10px;
}

.table-wrapper .scrollable {
	overflow-x: auto;
}

#footer {
    clear: both;
    position: relative;
    top: 42px;
    padding: 0 10px;
    background: $dark-blue;
    color: #fff;
    padding: 20px 10px;
	overflow: auto;
    h1, h2, h3, h4, h5, h6, a {
        color: #fff;
    }
    #footermarke {
        @include off-left;
    }
    &>h2 {
        margin: 0;
        padding: 0;
        text-align: right;
    }
    .last_modified {
        font-size: .8em;
        text-align: right;
    }
    #tecmenu {
        margin: 10px 0;
        padding: 0 10px;
        ul {
            margin: 0;
            list-style-type: none;
        }
    }
    #zusatzinfo {
        margin: 10px 0 ;
        padding: 0 10px;
    }
}
